.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem ;
  gap: 1rem;
  width: 30rem;
  height: auto;
  background-color: white;
  border-radius: 5% ;

}

.signupForm > *{
  display: flex;
  flex-direction: column;
}

.signupForm > button{
  display: flex;
  flex-direction: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
}

.errors{
  color: #FF5A5F;
}
