.spot-image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .8rem;
  margin: 3rem;
  align-items: center;
  /* justify-content: center; */
}
.spot-image{
  width: 13.75rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 5%
}
.spot-data-container{
  display: flex;
  flex-direction: column;
}

.first-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: none;
}
